In [7]:
from IPython.display import display
import pandas as pd

df_clientes = pd.read_csv("clientes.csv")
df_produtos = pd.read_csv("produtos.csv")
df_vendas = pd.read_csv("vendas.csv")

display(df_clientes)

,cliente_id,nome,email,pais,data_registo
0,1,Santiago Abreu-Guerreiro,marcio43@example.com,Portugal,2024-06-30
1,2,David Amaral,lisandrotorres@example.org,Espanha,2022-10-19
2,3,Eva da Nascimento,dmorais@example.org,PT,2024/99/99
3,4,Petra Marques,moraisanita@example.com,PT,2024-12-04
4,5,Lorena Pinheiro,gbatista@example.net,Portugal,2024-04-19
...,...,...,...,...,...
95,96,Tatiana Torres,iristorres@example.com,Espanha,2024-11-29
96,97,Rita Nogueira,nunesalice@example.com,Angola,2022-02-16
97,98,Vera Soares,tcardoso@example.org,PT,2024-12-17
98,99,Rodrigo Carneiro,ugomes@example.com,Portugall,2021-06-25
99,100,Luísa Carneiro,rafaelnunes@example.net,Espanha,2022-11-22

In [8]:
df_clientes['pais'] = df_clientes['pais'].replace({'PT': 'Portugal', 'Portugall': 'Portugal'})
df_clientes['data_registo'] = pd.to_datetime(df_clientes['data_registo'], format='mixed', errors='coerce')
df_clientes['data_registo'] = df_clientes['data_registo'].dt.strftime('%d-%m-%Y')
df_clientes['nome'] = df_clientes['nome'].str.replace('-', ' ')
df_clientes = df_clientes.reset_index(drop=True)
df_clientes['cliente_id'] = range(1, len(df_clientes) + 1)

# Verifica se o email é nulo ou inválido
def validar_email(email):
    if pd.isnull(email):
        return False
    return bool(pd.Series(email).str.contains(r'^[\w\.-]+@[\w\.-]+\.\w+$', regex=True).values[0])

# Aplica a correção
df_clientes['email'] = df_clientes['email'].apply(lambda x: x if validar_email(x) else 'sem email')

display(df_clientes)

,cliente_id,nome,email,pais,data_registo
0,1,Santiago Abreu Guerreiro,marcio43@example.com,Portugal,30-06-2024
1,2,David Amaral,lisandrotorres@example.org,Espanha,19-10-2022
2,3,Eva da Nascimento,dmorais@example.org,Portugal,NaN
3,4,Petra Marques,moraisanita@example.com,Portugal,04-12-2024
4,5,Lorena Pinheiro,gbatista@example.net,Portugal,19-04-2024
...,...,...,...,...,...
95,96,Tatiana Torres,iristorres@example.com,Espanha,29-11-2024
96,97,Rita Nogueira,nunesalice@example.com,Angola,16-02-2022
97,98,Vera Soares,tcardoso@example.org,Portugal,17-12-2024
98,99,Rodrigo Carneiro,ugomes@example.com,Portugal,25-06-2021
99,100,Luísa Carneiro,rafaelnunes@example.net,Espanha,22-11-2022

In [9]:
df_produtos = df_produtos.reset_index(drop=True)
df_produtos['produto_id'] = range(1, len(df_produtos) + 1)
df_produtos['stock'] = df_produtos['stock'].fillna(0).astype(int)
df_produtos['categoria'] = df_produtos['categoria'].fillna('Não Especificada')


display(df_produtos)

     produto_id       nome_produto         categoria  preco_unitario  stock
0             1         Optio Plus       Informática           15.75      8
1             2         Incidunt Z        Eletrónica          773.66    138
2             3           Vero Pro        Eletronica         1403.59    200
3             4         Atque Lite  Não Especificada          613.55     90
4             5            Ut Lite              Casa          703.20    165
..          ...                ...               ...             ...    ...
97           98               Id X              Casa          740.16     38
98           99     Voluptatem Pro  Não Especificada          846.45     30
99          100  Consequuntur Plus  Não Especificada          627.18    198
100         101           Sit Lite        Acessórios           47.91     54
101         102          Iste Lite        Eletrónica          838.32     34

[102 rows x 5 columns]

In [10]:
df_vendas = df_vendas.reset_index(drop=True)
df_vendas['venda_id'] = range(1, len(df_vendas) + 1)
# Dicionário de conversão de palavras para números
extenso_para_numero = {
    'um': 1, 'dois': 2, 'três': 3, 'quatro': 4, 'cinco': 5,
    'seis': 6, 'sete': 7, 'oito': 8, 'nove': 9, 'dez': 10
}
# Corrigir a coluna 'quantidade'
def limpar_quantidade(valor):
    try:
        # Se for número, converte para inteiro e usa valor absoluto
        return abs(int(valor))
    except:
        # Se for texto por extenso, converte usando o dicionário
        valor_str = str(valor).strip().lower()
        return extenso_para_numero.get(valor_str, None)  # retorna None se não encontrar

# Aplicar a função
df_vendas['quantidade'] = df_vendas['quantidade'].apply(limpar_quantidade)
df_vendas['data_venda'] = pd.to_datetime(df_vendas['data_venda'], format='mixed', errors='coerce')
df_vendas['data_venda'] = df_vendas['data_venda'].dt.strftime('%d-%m-%Y')
df_vendas['metodo_pagamento'] = df_vendas['metodo_pagamento'].fillna('Não Pago')

display(df_vendas)

    venda_id  cliente_id  produto_id  quantidade  data_venda metodo_pagamento
0          1          67          49           0  14-02-2022         Dinheiro
1          2          39         111           1  21-07-2020         Dinheiro
2          3          40          73           1  17-10-2019           Cartão
3          4          79          95           1  15-10-2020           PayPal
4          5          81          28           3  13-01-2019         Não Pago
..       ...         ...         ...         ...         ...              ...
95        96          36           2           1  07-10-2022         Não Pago
96        97         100          96           1         NaN            MBWay
97        98          96          64           3  17-04-2021           PayPal
98        99          78         103           3  12-10-2022         Não Pago
99       100          82          25           1  21-08-2021    Transferência

[100 rows x 6 columns]

In [11]:
display(df_clientes)
display(df_produtos)
display(df_vendas)

,cliente_id,nome,email,pais,data_registo
0,1,Santiago Abreu Guerreiro,marcio43@example.com,Portugal,30-06-2024
1,2,David Amaral,lisandrotorres@example.org,Espanha,19-10-2022
2,3,Eva da Nascimento,dmorais@example.org,Portugal,NaN
3,4,Petra Marques,moraisanita@example.com,Portugal,04-12-2024
4,5,Lorena Pinheiro,gbatista@example.net,Portugal,19-04-2024
...,...,...,...,...,...
95,96,Tatiana Torres,iristorres@example.com,Espanha,29-11-2024
96,97,Rita Nogueira,nunesalice@example.com,Angola,16-02-2022
97,98,Vera Soares,tcardoso@example.org,Portugal,17-12-2024
98,99,Rodrigo Carneiro,ugomes@example.com,Portugal,25-06-2021
99,100,Luísa Carneiro,rafaelnunes@example.net,Espanha,22-11-2022

     produto_id       nome_produto         categoria  preco_unitario  stock
0             1         Optio Plus       Informática           15.75      8
1             2         Incidunt Z        Eletrónica          773.66    138
2             3           Vero Pro        Eletronica         1403.59    200
3             4         Atque Lite  Não Especificada          613.55     90
4             5            Ut Lite              Casa          703.20    165
..          ...                ...               ...             ...    ...
97           98               Id X              Casa          740.16     38
98           99     Voluptatem Pro  Não Especificada          846.45     30
99          100  Consequuntur Plus  Não Especificada          627.18    198
100         101           Sit Lite        Acessórios           47.91     54
101         102          Iste Lite        Eletrónica          838.32     34

[102 rows x 5 columns]

    venda_id  cliente_id  produto_id  quantidade  data_venda metodo_pagamento
0          1          67          49           0  14-02-2022         Dinheiro
1          2          39         111           1  21-07-2020         Dinheiro
2          3          40          73           1  17-10-2019           Cartão
3          4          79          95           1  15-10-2020           PayPal
4          5          81          28           3  13-01-2019         Não Pago
..       ...         ...         ...         ...         ...              ...
95        96          36           2           1  07-10-2022         Não Pago
96        97         100          96           1         NaN            MBWay
97        98          96          64           3  17-04-2021           PayPal
98        99          78         103           3  12-10-2022         Não Pago
99       100          82          25           1  21-08-2021    Transferência

[100 rows x 6 columns]

In [24]:
import sqlite3
conn = sqlite3.connect(':memory:')
df_clientes.to_sql('clientes', conn, index=False, if_exists='replace')
df_produtos.to_sql('produtos', conn, index=False, if_exists='replace')
df_vendas.to_sql('vendas', conn, index=False, if_exists='replace')
df_resultado = pd.read_sql_query(query, conn)

In [22]:
query = """
SELECT 
    v.venda_id,
    v.data_venda,
    v.metodo_pagamento,
    v.quantidade,

    c.cliente_id,
    c.nome AS nome_cliente,
    c.email,
    c.pais,
    c.data_registo,

    p.produto_id,
    p.nome_produto,
    p.categoria,
    p.preco_unitario,
    p.stock

FROM vendas v
LEFT JOIN clientes c ON v.cliente_id = c.cliente_id
LEFT JOIN produtos p ON v.produto_id = p.produto_id;
"""